html {
  min-height: 100vh;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
